{{!< default}}


<div class="container clearfix">
  <main role="main" class="content">
    {{#foreach posts}}
      <article class="{{post_class}} post">
        <h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
        <footer class="post-info">Posted on <span class="post-meta"><time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="Do MMMM YYYY"}}</time>. {{tags separator=", " prefix="Tagged in "}}</span></footer>
        {{#if feature_image}}
          <a href="{{url}}"><img src="{{img_url feature_image}}"/></a>
        {{/if}}

        <div class="postcontent">{{content words="50"}}&hellip;</div>

        <a href="{{url}}" title="{{title}}">Read more &raquo;</a>
      </article>
    {{/foreach}}

    {{pagination}}

  </main>



  {{!--<aside class="author">
            
    <img class="profile-image" src="{{asset "img/profile-image.jpg"}}" alt="" />
    <p class="name">by <strong>Greg Hurlman</strong></p>
    <p class="about">PEGI-16. @MSFTDynamics365 team dev. Emberiño. Ex-Jungle Cruise Skipper. PAX Enforcer. Chaotic Good. Ravenclaw. SJW. NYer for life. Opinions are my own.</p>
    <p class="address">Fremont, Seattle, WA</p>
    <p class="link"><a href="https://98.codes" title="98.Codes">98.codes</a></p>

    <ul class="social">
      <li><a class="icon-twitter" href="https://twitter.com/justcallme98" target="_blank" title="Twitter"></a></li>
      <li><a class="icon-github" href="https://github.com/ghurlman" target="_blank" title="Fork me on Github"></a></li>
      <li><a class="icon-linkedin" href="https://linkedin.com/in/ghurlman" target="_blank" title="Linkedin"></a></li>
      <li><a class="icon-rss" href="https://98.codes/rss" target="_blank" title="RSS feed"></a></li>
    </ul>

  </aside>--}}
</div>